*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   display:flex;
   flex-direction: column;
   align-items: center; 
   text-align: center;
   height:100vh;
   background-color: black;
   justify-content: center;
   overflow: hidden;
}
.image-container{
    width:200px;
    height:200px;
    
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition:transform .7s;
    position:relative;

}
.image-container span{
   position:absolute;
   top:0;
   left:0;
   transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);

   width:100%;
   
}
.image-container span img{
    position:absolute;
    top:0;
    left:0;
    width:100%
}
.btn-container{
    position: relative;
    width:80%;

}
.btn{
    position:absolute;
    top:80px;
    background-color: slateblue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(1.5);
}
#prev{
    left:20%;
}
#next{
    right:20%;
}